services:
  webserver:
    build:
      context: ../
      dockerfile: ./docker/php/Dockerfile
    container_name: apache_web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - public-WEB:/var/www/html
     # - ../certs/etc:/etc/letsencrypt
    environment:
      - DB_HOST=database
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  database:
    image: mysql:8.0
    container_name: db
    environment:
      ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - .sql:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql  # Volumen persistente para datos
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks:
      - app-network
  
    image: certbot/certbot
    container_name: certbot_renew
    volumes:
      - ../certs/etc:/etc/letsencrypt
      - ../certs/lib:/var/lib/letsencrypt
      - ../www:/var/www/html
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --webroot --webroot-path=/var/www/html; sleep 12h & wait $${!}; done;'"
    depends_on:
      - webserver
    restart: unless-stopped
    networks:
      - app-network

# Volúmenes nombrados para persistencia
volumes:
  mysql-data:
    driver: local

# Red personalizada para comunicación entre contenedores
networks:
  app-network:
    driver: bridge
